
extends layout

block signout
	button#btn-logout.btn.btn-primary
		i.icon-lock.icon-white
		| Sign Out

block content
	.home-container
		.well
			h1 Browse
			p.subheading Choose your favorite team
			.row
				- for (var i in teams)
					- var img_url = teams[i].img_url
					.col-xs-2.thumbnail
						a(href="#")
							img(src=img_url)

block scripts
	script(src='/vendor/jquery.min.js')
	script(src='/vendor/jquery.form.js')
	script(src='/vendor/bootstrap-modal.js')
	script(src='/vendor/bootstrap-transition.js')
	script(src='/js/views/home.js')
	script(src='/js/controllers/homeController.js')
	script(src='/js/form-validators/accountValidator.js')